.activity-item {
  width: 100%;
  border: solid 1px;
  border-color: rgb(159, 151, 151);
  border-radius: 5px;
  box-shadow: 1px 1px rgb(159, 151, 151);
  margin-top: 10px
}


.activity-header {
  height: 25px;
  padding: 5px;
  
  display: flex;
  justify-content: space-between
}

.activity-info {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  width: 376px;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.activity-content {
  width: 80%;
  height: 200px;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
}

.activity-info .clicked {
  display: block;
}