.activity-item {
  width: 100%;
  border: solid 1px;
  border-color: rgb(159, 151, 151);
  border-radius: 5px;
  box-shadow: 1px 1px rgb(159, 151, 151);
  margin-top: 10px
}


.activity-header {
  height: 25px;
  padding: 5px;
  
  display: flex;
  justify-content: space-between
}

.activity-contact {
  
}

.activity-date {
  
}