#bottom-nav {
  display:flex;
  justify-content: space-evenly;
  
  text-align: center;
  border-top: 1px solid;
  overflow: hidden;
}

.nav-button {
  font-size: 30px;
  width: 50px;
  margin: 10px;
}

.nav-text {
  font-size: 7.5px;
}

.fa-list:hover {
  color: rgb(25, 164, 44)
}

.fa-phone:hover {
  color: rgb(25, 164, 44)
}

.fa-archive:hover {
  color: rgb(25, 164, 44)
}

